astropy==4.2.1
celerite2==0.2.0
pymc3_ext==0.1.0
photutils==1.1.0
numpy==1.20.1
scipy==1.6.2
matplotlib==3.4.1
opencv_python==4.5.2.54
arviz==0.11.2
corner==2.2.1
exoplanet==0.5.1
lightkurve==2.0.10
pymc3==3.11.2
